@page

<div class="text-center">
    <div>Message <input type="text" id="messageInput" />
    <input type="button" id="send" value="Send Message" /></div>
</div>

<hr />

<div class="text-center" id="newMessages">
    <h3>New Messages</h3>
</div>

@section Welcome
{
    <h3 class="text-center">Welcome to the messageInput board!</h3>
}